*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgba(78, 193, 243, 0.901);
    height: 100px;
}

nav ul{
    display: flex;
    max-width: 1150px;
    margin: auto;
    justify-content: end;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav menu{
    display: flex;
    background-color:  rgb(26, 98, 231);
}

nav li{
    list-style: none;
}

nav a{
    padding: 1.9rem 3rem;;
    display: block;
}

nav .meteo-menu{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: absolute;
    right: 0;
    z-index: 1;
}


nav .meteo-menu::after, nav .meteo-menu::before, nav .meteo-menu span{
    content: "";
    width: 100%;
    height: 7px;
    background-color:  rgb(26, 98, 231);
    transition-duration: 500ms;
    border-radius: 15px;
    position: absolute;
    transition: 0.5s;
}

nav .meteo-menu::before{
    top:0;
}

nav .meteo-menu::after{
    bottom:0;
}

nav .meteo-menu span{
    top: 50%;
    transform: translateY(-50%);
}

nav .meteo-menu.active span{
    background-color:  rgb(33, 156, 197);
}

nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

nav .meteo-menu.active::before{
    top:50%;
    transform: rotate(-45deg);

}

nav .meteo-menu.active::after{
    top:50%;
    transform: rotate(45deg);

}
    
nav .meteo-menu.active span{
    transition-duration: 500ms;
    width: 0%;
}
.meteo-menu{
    box-sizing: border-box;
}

nav img{
    width:100px ;
    height: 100px;
}
h1{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(244, 244, 244);  
}


@media screen and ( max-width: 768px) {
    nav{
        height: 150px;
        border-bottom-left-radius: 30px;
    }
    nav menu{
        display: block;
        transform: translateX(100%);
        /* transition: 0.25s; */
        transition-duration: 500ms;

    }
  
    nav menu.active{
    
        transform: translateX(0%);

    }

    nav li img{
        top: 0;
        position: fixed;
        height: 150px;
        width: 150px;
        border-radius: 20px;    
    }
    
h1{
    /* align-items: center; */
    position: fixed;
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(244, 244, 244);
    
}
    
}